<mat-card class="Questionnaires">
  <mat-card-content>

    <div class="searchPanel">
      <mat-input-container floatPlaceholder="never">
        <input matInput #id placeholder="_id Search Parameter">
      </mat-input-container>
    </div>

    <div class="searchPanel">
      <mat-input-container floatPlaceholder="never">
        <input matInput #code placeholder="code Search Parameter">
      </mat-input-container>
    </div>
    <div class="searchPanel">
      <mat-input-container floatPlaceholder="never">
        <input matInput #identifier placeholder="identifier Search Parameter">
      </mat-input-container>
    </div>
    <div class="searchPanel">
      <mat-input-container floatPlaceholder="never">
        <input matInput #publisher placeholder="publisher Search Parameter">
      </mat-input-container>
    </div>
    <div class="searchPanel">
      <mat-input-container floatPlaceholder="never">
        <input matInput #status placeholder="status Search Parameter">
      </mat-input-container>
    </div>
    <div class="searchPanel">
      <mat-input-container floatPlaceholder="never">
        <input matInput #title placeholder="title Search Parameter">
      </mat-input-container>
    </div>
    <div class="searchPanel">
      <mat-input-container floatPlaceholder="never">
        <input matInput #version placeholder="version Search Parameter">
      </mat-input-container>
    </div>

    <mat-table #table [dataSource]="dataSource">
      <mat-header-row *matHeaderRowDef="['questionnaireCol']">
        <!--Array mit nur einem Eintrag-->
      </mat-header-row>
      <mat-row *matRowDef="let row; columns: ['questionnaireCol']" (click)="selectRow(row)">
      </mat-row>

      <ng-container matColumnDef="questionnaireCol">
        <mat-header-cell *matHeaderCellDef>Questionnaire</mat-header-cell>
        <mat-cell *matCellDef="let entry">{{ getQName(entry) }}</mat-cell>
      </ng-container>

    </mat-table>

    <mat-paginator [length]="length" [pageSize]="size" [pageSizeOptions]="pageSizeOptions" (page)="goToPage($event)">
    </mat-paginator>
  </mat-card-content>

  <button mat-menu-item routerLink="/">
    <span>Home</span>
  </button>

</mat-card>