<form>

<mat-card>
    <mat-card-header>
          <mat-card-title-group>
            <mat-card-title> Questionnaire 01: Angaben zum Patienten </mat-card-title>
          </mat-card-title-group>


      </mat-card-header>  
  </mat-card>

  <mat-card>

    <table class="example-container" cellspacing="10">
      <tr>
        <td>
            <mat-radio-button value="Weiblich">Weiblich</mat-radio-button>      
        </td>
        <td>
            <mat-radio-button value="Männlich">Männlich</mat-radio-button>  
        </td>        
      </tr>
    </table>

    <table class="example-container" cellspacing="10">
        <tr>        
          <td>
            <mat-form-field class="example-full-width">
            <input type="text" matInput placeholder="Name">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <input type="text" matInput placeholder="Vorname">
            </mat-form-field>
          </td>
      </tr>
    </table>

      <p class="example-container">
          <mat-form-field>
            <textarea matInput placeholder="Adresse"></textarea>
          </mat-form-field>
      </p>

      <table class="example-container" cellspacing="10">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput #PLZ maxlength="4" placeholder="PLZ" value="">
              <mat-hint align="end">{{ PLZ.value.length }} / 4</mat-hint>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Ort">
            </mat-form-field>
          </td>
        </tr>
      </table>

      <table class="example-container" cellspacing="10">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input type="date" matInput placeholder="Geburtsdatum">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
                <input type="tel" matInput placeholder="Telefonnummer">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <input type="email" matInput placeholder="Email-Adresse">
            </mat-form-field>
          </td>
        </tr>
      </table>
  </mat-card>
<br>
<br>
  <mat-card>
    <p class="example-container">
      <mat-form-field>
        <textarea matInput placeholder="Diagnose(n)"></textarea>
      </mat-form-field>        
    </p>
  </mat-card>
  
  <mat-card>
    <p class="example-container">
       <mat-radio-group>
          <label>Dringlichkeit des Auftrages</label>
          <br>
          <mat-radio-button value="sehr dringlich">Sehr dringlich; bitte um sofortige Meldung an die Leistungsstelle</mat-radio-button>
          <br>
          <mat-radio-button value="dringlich">Dringlich</mat-radio-button>
          <br> 
          <mat-radio-button value="normal">Normal</mat-radio-button>            
        </mat-radio-group>
    </p>

    <p class="example-container">
        <mat-checkbox>Bitte Resultate umgehend an den Absender zurückschicken und Arzt informieren</mat-checkbox>
    </p>

    <p class="example-container">
        <mat-form-field>
          <input matInput #message maxlength="256" placeholder="Bemerkungen">
          <mat-hint align="start"><strong>' '</strong></mat-hint>
          <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
      </mat-form-field>
    </p>

      <mat-card-actions>
          <button mat-raised-button (click)="submit()" color="primary">Submit</button>
          <button mat-raised-button (click)="save()" color="primary">Save</button>
          <button mat-raised-button (click)="download()" color="primary">Download</button>                    
      </mat-card-actions>

  </mat-card>

</form>







