<form>

<mat-card>
    <mat-card-header>
          <mat-card-title-group>
            <mat-card-title> Questionnaire 01: Angaben zum Patienten </mat-card-title>
          </mat-card-title-group>

          <mat-list role="list">
              <mat-list-item role="_id Search Parameter">_id Search Parameter</mat-list-item>
              <mat-list-item role="code Search Parameter">code Search Parameter</mat-list-item>
              <mat-list-item role="identifierSearchParameters">identifierSearchParameters</mat-list-item>
              <mat-list-item role="publisherSearchParameter">publisherSearchParameter</mat-list-item>
              <mat-list-item role="statusSearchParameter">statusSearchParameter</mat-list-item>              
              <mat-list-item role="titleSearchParameter">titleSearchParameter</mat-list-item>
              <mat-list-item role="versionSearchParameter">versionSearchParameter</mat-list-item>
          </mat-list>
      </mat-card-header>  
  </mat-card>

  <mat-card>

    <table class="example-container" cellspacing="10">
      <tr>        
        <td>
          <mat-radio-group>
              <mat-radio-button value="Weiblich">Weiblich</mat-radio-button>
              <mat-radio-button value="Männlich">Männlich</mat-radio-button>
          </mat-radio-group>
        </td>
      </tr>
    </table>

    <table class="example-container" cellspacing="10">
        <tr>        
          <td>
            <mat-form-field class="example-full-width">
            <input type="text" matInput placeholder="Name">
            </mat-form-field>
          </td>

          <td>
            <mat-form-field class="example-full-width">
              <input type="text" matInput placeholder="Vorname">
            </mat-form-field>
          </td>
      </tr>
    </table>

      <p class="example-container">
          <mat-form-field >
            <textarea matInput placeholder="Adresse"></textarea>
          </mat-form-field>
      </p>

      <table class="example-container" cellspacing="10">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput #postalCode maxlength="5" placeholder="PLZ" value="">
              <mat-hint align="end">{{postalCode.value.length}} / 4</mat-hint>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Ort">
            </mat-form-field>
          </td>
        </tr>
      </table>

      <table class="example-container" cellspacing="10">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input type="date" matInput placeholder="Geburtsdatum">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
                <input type="tel" matInput placeholder="Phone">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <input type="email" matInput placeholder="Email">
            </mat-form-field>
          </td>
        </tr>
      </table>
      <p class="example-container">
        <mat-form-field>
          <textarea matInput placeholder="Freitext"></textarea>
        </mat-form-field>        
      </p>
      <p class="example-container">
        <mat-form-field>
          <mat-select placeholder="Select">
            <mat-option value="option">Option</mat-option>
          </mat-select>
        </mat-form-field>
      </p>

      <p class="example-container">
        <mat-form-field>
          <input matInput #message maxlength="256" placeholder="Message">
          <mat-hint align="start"><strong>Don't disclose personal info</strong></mat-hint>
          <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
      </mat-form-field>
      </p>

      <mat-card-actions>
          <button mat-raised-button (click)="submit()" color="primary">Submit</button>
          <button mat-raised-button (click)="save()" color="primary">Save</button>
          <button mat-raised-button (click)="download()" color="primary">Download</button>                    
      </mat-card-actions>

  </mat-card>

</form>







