
<mat-card>
<mat-card-title>Forms</mat-card-title>  
  <mat-form-field>
    <mat-select placeholder="Wählen Sie bitte das gewünschte Formular aus">
      <mat-option *ngFor="let form of forms" [value]="form.value">
        {{ form.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-card-actions>
    <button routerLink="home">Home</button>
  </mat-card-actions>
</mat-card>

<br>
<br>
<br>

<mat-card class="demo-panel">
    <mat-card-title>
      Angular Material Toolbar Demo
    </mat-card-title>
    <mat-card-content>
      <mat-toolbar color="primary">
        <span>First Row</span>
        <mat-toolbar-row>
          <span>Second Row</span>
          <span class="toolbar-spacer"></span>
          <mat-icon class="toolbar-icon">favorite</mat-icon>
        </mat-toolbar-row>
      </mat-toolbar>
    </mat-card-content>
</mat-card>>




