<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">

<mat-toolbar color="primary" role="header">
  <span>{{ getTitle() }}</span>
  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"> </span>
  <span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">

      <button mat-menu-item routerLink="/">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>

      <button mat-menu-item routerLink="/patients-list">
        <mat-icon>people</mat-icon>
        <span>Patients list</span>
      </button>

      <button mat-menu-item routerLink="/patients">
        <mat-icon>people</mat-icon>
        <span>Patients Test</span>
      </button>

      <button mat-menu-item routerLink="/patient-detail">
        <mat-icon>people</mat-icon>
        <span>Patient</span>
      </button>

      <button mat-menu-item routerLink="/questionnaires">
        <mat-icon>info</mat-icon>
        <span>Questionnaires</span>
      </button>

      <button mat-menu-item routerLink="/capabilityStatement">
        <mat-icon>info</mat-icon>
        <span>CapabilityStatement</span>
      </button>

      <button mat-menu-item routerLink="/settings">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>

    </mat-menu>
  </span>
</mat-toolbar>
<div class="mat-typography">
</div>


<nav>
  <a class="mat-raised-button" routerLink="/patients-list" routerLinkActive="active">Patients</a>
  <a class="mat-raised-button" routerLink="/patients" routerLinkActive="active">My Patients</a>
  <!--<a class="mat-raised-button" mat-fabrouterLink="/patient-detail" routerLinkActive="active">Patient</a>-->
  <a class="mat-raised-button" routerLink="/questionnaires" routerLinkActive="active">Questionnaires</a>
  <a class="mat-raised-button" routerLink="/dynamic-form-question" routerLinkActive="active">Dynamic Form</a>
  <a class="mat-raised-button" routerLink="/capabilityStatement" routerLinkActive="active">CapabilityStatement</a>
  <a class="mat-raised-button" routerLink="/settings" routerLinkActive="active">Settings</a>
</nav>

<router-outlet></router-outlet>