<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
<mat-toolbar color="primary" role="header">
  <span>{{ getTitle() }}</span>
  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"> </span>
  <span>
    <button mat-icon-button [matMenuTriggerFor]="menu" >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">

      <button mat-menu-item routerLink="/">
          <mat-icon>home</mat-icon>
          <span>Home</span>
      </button>

      <button mat-menu-item routerLink="/login">
        <mat-icon>people</mat-icon>
        <span>Login</span>
      </button>

      <button mat-menu-item routerLink="/patients">
        <mat-icon>people</mat-icon>
        <span>Patients list</span>
      </button>

      <button mat-menu-item routerLink="/form">
        <mat-icon>info</mat-icon>
        <span>Forms</span>
      </button>

      <button mat-menu-item routerLink="/questionnaire01">
        <mat-icon>info</mat-icon>
        <span>Questionnaire01</span>
      </button>


      <button mat-menu-item routerLink="/user">
        <mat-icon>people</mat-icon>
        <span>Search User</span>
      </button>

      <button mat-menu-item routerLink="/MenuMaterial">
        <mat-icon>menu</mat-icon>
      <span>MenuMaterial</span>
      </button>

      <button mat-menu-item routerLink="/CapabilityStatement">
        <mat-icon>info</mat-icon>
      <span>CapabilityStatement</span>
      </button>



      <button mat-menu-item routerLink="/contact-form">
        <mat-icon>settings</mat-icon>
        <span>Kontaktformular</span>
      </button>
      <button mat-menu-item routerLink="/request-form">
        <mat-icon>settings</mat-icon>
        <span>Request</span>
      </button>    
      <button mat-menu-item routerLink="/settings">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <button mat-menu-item routerLink="/dialog-demo">
        <mat-icon>people</mat-icon>
        <span>DialogDemo</span>
      </button>
      <button mat-menu-item routerLink="/menudemo">
        <mat-icon>voicemail</mat-icon>
        <span>MenuDemo</span>
      </button>
      <button mat-menu-item routerLink="/side-nav-demo">
        <mat-icon>settings</mat-icon>
        <span>SideNavDemo</span>
      </button>
      <button mat-menu-item routerLink="/toolbar-demo">
        <mat-icon>settings</mat-icon>
        <span>Toolbar Demo</span>
      </button>
      <button mat-menu-item routerLink="/usertable">
        <mat-icon>people</mat-icon>
        <span>Usertable Demo</span>
      </button>
    </mat-menu>
  </span>
</mat-toolbar>
<div class="mat-typography">
  <router-outlet> </router-outlet>
</div>










