<mat-card class="demo-panel">
    <mat-card-title>
        FHIR Server (ST3)
    </mat-card-title>
    <mat-card-content>
      <mat-toolbar color="white">

        <mat-toolbar-row>
          <button mat-raised-button>
            <a class="dropdown-item" href="http://test.fhir.org/r3">'http://test.fhir.org/r3'</a>
          </button>
        </mat-toolbar-row>

        <mat-toolbar-row>
          <button mat-raised-button>
            <a class="dropdown-item" href="http://localhost:8080/baseDstu3">Another action</a>            
          </button>
        </mat-toolbar-row>

        <mat-toolbar-row>
          <button mat-raised-button>
            <a class="dropdown-item" href="#">Something else here</a>
          </button>
        </mat-toolbar-row>

      </mat-toolbar>
    </mat-card-content>
</mat-card>
